* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f2f2f;
    max-height: 100vh; /* Maximalhöhe auf die Viewporthöhe beschränken */
    overflow: hidden; /* Überlauf verstecken */
}

.logo-container {
    margin: 20px 0;
    text-align: center;
}

.logo {
    width: 50%; /* Logo ist 50% der Breite des Anzeigefensters */
    height: auto;
    max-width: 300px; /* Begrenzung der maximalen Breite auf großen Bildschirmen */
}

.display-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    max-width: 600px; /* Maximale Breite für größere Bildschirme */
}

.nav-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.display {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    overflow: hidden;
}

#display-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.background-color-selector {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
}

.color-square {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #333;
}

.thumbnail-container {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Abstand von 20px zur Anzeigefenster */
    width: 100%;
    max-width: 600px; /* Maximale Breite für Thumbnails */
}

.scroll-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.thumbnails {
    display: flex;
    overflow-x: auto;
    width: 100%;
    gap: 5px;
    padding: 5px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.thumbnail {
    width: 60px;
    height: 60px;
    cursor: pointer;
    object-fit: cover;
}

.back-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-button:hover {
    color: #cccccc;
}

/* Responsive Anpassungen für kleinere Bildschirme */
@media (max-width: 768px) {
    .logo {
        width: 70%; /* Logo etwas kleiner auf kleineren Bildschirmen */
    }

    .display-container, .display, .thumbnail-container {
        max-width: 90%; /* Reduziert die Breite auf kleineren Bildschirmen */
    }

    .thumbnail {
        width: 50px;
        height: 50px; /* Kleinere Thumbnails auf mobilen Geräten */
    }

    .nav-button {
        font-size: 20px; /* Kleinere Navigationstasten auf mobilen Geräten */
    }
}
