/* styles.css */

/* Dreieck Styling */
.toggle-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.triangle {
    margin-right: 8px;
    transition: transform 0.5s;
}

/* Standardmäßig sind Untermenüs verborgen */
.submenu {
    display: none;
    padding-left: 25px;
}

/* Anzeige, wenn ein Untermenü aktiv ist */
.submenu.active {
    display: block;
}

.submenu a {
    font-size: 0.8em;
    margin: 0;
    padding-top: 3;
    padding-bottom: 3;
}

/* Rotation des Dreiecks bei Aktivierung */
.triangle.open {
    transform: rotate(90deg);
}
        /* Haupt-Container für die Farbauswahl */
.color-selector {
    width: 90%;
    display: flex;
    justify-content: right; 
    gap: 5px; /* Abstand zwischen den Quadraten */
    margin-top: 5px; /* Optionaler Abstand nach oben */
}
.overlay-image {
    z-index: 2;
    position: absolute;
    top: 0; /* Platziert das Bild oben im Container */
    right: 0; /* Platziert das Bild am rechten Rand */
    width: 15%; /* Breite des Bildes anpassen */
    height: auto; /* Höhe wird entsprechend der Breite skaliert */
    padding-top: 20px;
}
.logo {
    position: relative;
    top: 0;
    width: 50%;
    height: auto;
    padding-top: 20px;
}
/* Einzelne Farbquadrate */
.color-square {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Leichter Hover-Effekt */
}

.color-square:hover {
    transform: scale(1.1); /* Vergrößerung beim Hover */
}

/* Farben für die Quadrate */
.color-square:nth-child(1) { background-color: #2f2f2f; } /* Anthrazit */
.color-square:nth-child(2) { background-color: #992200; } /* Dunkles Orange */
.color-square:nth-child(3) { background-color: #003d48; } /* Petrol */
.color-square:nth-child(4) { background-color: #360000; } /* Dunkles Tomatenrot */
.color-square:nth-child(5) { background-color: #11270b; } /* Gebrochenes Moorgrün */

        body {
            background-color: #2F2F2F; 
            color: #FFFFFF;
            font-family: Verdana;
            font-size: 10;
            display: flex;
            flex-direction: column;
            align-items: top;
            justify-content: center;
            margin: 0;
            padding-top: 10px;
            box-sizing: border-box;
            transition: background-color 3.0s ease;
        }
        #password-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        #link-container {
            position: relative;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: left; 
            width: 85%;
        }
        #h-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            width: 90%;
        }
        h1 {
            color: #ffffff;
            font-size: 3.2em;
            font-weight: bold;
            margin: 0;
            text-align: center;
            display: block;
        }
        #password-input {
            padding: 5px;
            font-size: 1.5em;
            margin-top: 10px;
            text-align: center;
            border-radius: 1px;
            border: 1px solid #cccccc;
        }
        .button-container {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        #toggle-password, #submit-button {
            padding: 10px 15px;
            font-size: 1em;
            border-radius: 1px;
            border: none;
            background-color: #555555;
            color: #ffffff;
            cursor: pointer;
        }
        #toggle-password:hover, #submit-button:hover {
            background-color: #777777;
        }
        h2 {
            font-size: 1.5em;
            font-weight: normal;
            color: #cccccc; /* Leichtes Grau */
            text-align: center;
            width: 100%;
            max-width: 300px; /* Breite passt sich der Überschrift an */
            display: block;
        }
        .footer {
            z-index: 0;
            width: 90%;
            position: relative;
            padding: 10px;
            text-align: justify;
            display: flex;
            flex-direction: column;
            font-size: 0.5em; 
            color: #666666; 
        }
        a {
            color: #cccccc; /* Hellgrau */
            text-align: left;
            font-weight: normal;
            text-decoration: none;
            cursor: pointer;
        }
