/* Hintergrundfarbe der Seite */
body {
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

/* Zurück-Button oben links */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.back-button:hover {
    color: #cccccc;
}

/* Logo-Container für zentrierte Ausrichtung */
.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 50vw; /* Logo nimmt 50% der Bildschirmbreite ein */
    height: auto;
    max-width: 300px; /* Optionale maximale Breite */
}

/* Thumbnail-Leiste */
.thumbnail-container {
    width: 80%; /* Thumbnail-Leiste nimmt 80% der Breite ein */
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 10px;
    height: 8vh; /* Höhe % des Bildschirms */
    margin-top: 20px;
    padding-bottom: 10px;
    scroll-behavior: smooth; /* Sorgt für sanftes Scrollen */
    scroll-snap-type: x mandatory; /* Snappt die Thumbnails bei Scrollen */
}

.thumbnail {
    height: 100%; /* Thumbnail passt sich der Höhe der Leiste an */
    width: auto;
    object-fit: cover;
    cursor: pointer;
    /* border: 2px solid #333; */
    scroll-snap-align: start; /* Jedes Thumbnail snappt am Anfang der Leiste */
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Bildanzeige */
.image-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw; /* Maximale Breite 90% des Bildschirms */
    max-height: 50vh; /* Maximale Höhe % des Bildschirms */
    margin-top: 20px;
    overflow: hidden;
}

#display-image {
    width: 100%;
    height: auto;
    max-height: 50vh; /* Bild passt sich maximal % der Bildschirmhöhe an */
    object-fit: contain;
}
